@model WebMVC.Models.UserModel

<li class="nav-item navbar-dropdown dropdown-user dropdown">
    <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
        <div class="avatar avatar-online">
            @if (@Model.UserImage == "" || @Model.UserImage == null)
            {
                <img src="~/Images/UserImage/default.png" class="w-px-40 h-auto rounded-circle" />
            }
            <img src="~/@Model.UserImage" class="w-px-40 h-auto rounded-circle" />
        </div>
    </a>
    <ul class="dropdown-menu dropdown-menu-end">
        <li>
            <a class="dropdown-item" href="#">
                <div class="d-flex">
                    <div class="flex-shrink-0 me-3">
                        <div class="avatar avatar-online">
                            @if (@Model.UserImage == "" || @Model.UserImage == null)
                            {
                                <img src="~/Images/UserImage/default.png" class="w-px-40 h-auto rounded-circle" />
                            }
                            <img src="~/@Model.UserImage" class="w-px-40 h-auto rounded-circle" />
                        </div>
                    </div>
                    <div class="flex-grow-1">
                        <span class="fw-semibold d-block">@Model.FirstName @Model.LastName</span>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <div class="dropdown-divider"></div>
        </li>
        <li>
            <a class="dropdown-item" href="/User/Profile">
                <i class="bx bx-user me-2"></i>
                <span class="align-middle">My Profile</span>
            </a>
        </li>
        <li>
            <div class="dropdown-divider"></div>
        </li>
        <li>
            <a class="dropdown-item" href="/Auth/Logout">
                <i class="bx bx-power-off me-2"></i>
                <span class="align-middle">Log Out</span>
            </a>
        </li>
    </ul>
</li>